.middleNavMain{
    height: 10vh;
}

.middleNavButton{
    background-color: #ecb830;
    border: none;
    font-size: 1rem;
    height: 3rem;
    width: 10rem;
    border-radius: 10rem;
    /* margin: 0px 0.5rem; */
}

.middleNavButtonShadow{
    box-shadow: 20px 20px 50px 10px pink inset;
}