.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainNavbar{
    height: 10vh;
    background-color: var(--navbarBackground);
    /* position: fixed; */
    z-index: 9999999999999999;
}

.menuOptions span {
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
}
