.heroDiv{
    height: 100vh;
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center bottom;
}

@media only screen and (max-width: 1000px) {
    .heroDiv{
        height:40vh !important;
        background-position: 0 10vh;

        
    }
}